@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Tagesschrift;
    src: url(fonts/Tagesschrift-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    background-color: 	hsl(12, 30%, 8%);
    margin: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
}
#menu{
    background-color: 	hsl(12, 30%, 8%);
    border-right: 3px solid hsl(12, 30%, 15%);
    border-bottom: 3px solid hsl(12, 30%, 15%);
    border-radius: 1em;
    corner-shape: scoop;
    height: 100vh;
    padding-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
    position: sticky;
    top: 0;
}
#menu img{
    height: 60px;
}
#menu button{
    background-color: transparent;
    border: none;
    border-radius: 2em;
    corner-shape: squircle; 
    height: 50px;
    width: 100px;
    color: white;
    font-size: 1.2em;
    font-family: Montserrat;
    transition: background-color 250ms;
}
#gallery{
    border-right: 3px solid hsl(12, 30%, 15%);
    border-left: 3px solid hsl(12, 30%, 15%);
    border-bottom: 3px solid hsl(12, 30%, 15%);
    margin: 0 10px 10px 10px;
    border-radius: 1em;
    corner-shape: scoop;
    display: flex;
    flex-direction: column;
    height: auto;
}
header{
    border-bottom: 3px solid hsl(12, 30%, 15%);
    width: 100%;
    height: auto;
    padding: 5px 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    align-content: baseline;
}
.beans{
    border: none;
    margin: 0 10px 0 10px;
    padding: 0;
}
header img{
    width: 100%;
    height: 100%;
    margin: 0;
    aspect-ratio: 1/1;
    object-fit: contain;
}
#titre{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}
header h1{
    border: none;
    color: white;
    font-family: Tagesschrift;
    font-size: clamp(0.9rem , 5vw , 4rem)
}
#blabla{
    border-bottom: 3px solid hsl(12, 30%, 15%);
    display: flex;
    justify-content: center;
}
#blabla h3{
    color: white;
    font-size: 1.2em;
    font-family: Montserrat;
}
#pics{
    border: none;
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(250px ,1fr));
    column-gap: 3em;
    row-gap: 1em;
    padding: 25px 3em 15px 3em;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product img{
    width: 100%;
    height: 380px;
    border: 2px solid white;
    border-radius: 5em;
    corner-shape: squircle;
    transition: transform 250ms;
}
.name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-top: 3px solid hsl(12, 30%, 15%);
    border-right: 3px solid hsl(12, 30%, 15%);
    border-left: 3px solid hsl(12, 30%, 15%);
    border-radius: 1em;
    corner-shape: scoop;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100px;
    text-align: center;
}
.name h4{
    color: white;
    font-size: 1.2em;
    font-family: Montserrat;
    margin: 0 0 30px 0;
    transition: font-size 250ms;
}
.price{
    border-bottom: 3px solid hsl(12, 30%, 15%);
    border-right: 3px solid hsl(12, 30%, 15%);
    border-left: 3px solid hsl(12, 30%, 15%);
    margin: 0 3px 5px 3px;
    width: 100%;
    border-radius: 1em;
    corner-shape: scoop;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product h5{
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    transition: font-size 250ms;
}
.product img:hover{
    transform: scale(1.03 ,1.03);
}
.product:hover h4{
    font-size: 1.3em;
}
#menu button:hover , #menu button:active{
    background-color: hsl(12, 30%, 15%);
}
@media (max-width: 500px) {
    body{
        background-color: 	rgb(27, 17, 14);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #menu{
        background-color: rgba(27, 17, 14, 0.97);
        border: 3px solid hsl(12, 30%, 15%);
        border-radius: 1em;
        corner-shape: scoop;
        height: 80px;
        padding-bottom: 30px;
        padding-left: 10px;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
        align-content: center;
        column-gap: 0px;
        max-width: calc(100%-20px);
        position: sticky;
        top: 0;
        margin: 10px;
        z-index: 1;
        }
    #menu button{
        background-color: transparent;
        border: none;
        border-radius: 2em;
        corner-shape: squircle; 
        height: auto;
        width: 90%;
        color: white;
        font-size: 1.2em;
        font-family: Montserrat;
        transition: background-color 250ms;
        font-size: clamp(0.8rem , 3vw, 5rem);
        }
    #menu img{
        padding-right: 15px;
        padding-bottom: 10px;
        aspect-ratio: 1/1;
    }
    header{
        grid-template-columns: 50px 1fr 50px;
    }
    header img{
        padding: 0;
        aspect-ratio: 1/1;
        height:80%;
    }
    #gallery{
        border: 3px solid hsl(12, 30%, 15%);
    }
}
